@import "../assets/style/base.css";

.username,
.logout {
  cursor: pointer;
}

.logout {
  padding: 0 0.75rem;
}

/*  */

.search-holder,
.tale {
  border-radius: 10pt;
  overflow: hidden;
}

.search-bar {
  background: transparent;
}

.tale {
  cursor: pointer;
}

.tale > * {
  padding: 0.35rem 1rem;
}

/*  */

.btn-container {
  text-align: center;
}

.btn {
  width: auto;
  display: inline-block;
  padding: 0.5rem;
}

/*  */

@media screen and (min-width: 768px) {
  .tales-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .tale {
    margin: 0;
    flex-basis: 300px;
    flex-grow: 1;
  }
}
